body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: lighter;
  overflow: hidden;
  height: 100vh;
}

header {
  text-align: center;
  vertical-align: middle;
  height: 2rem;
  -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.45); 
  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.45);
  position: relative;
  z-index: 500;
}

header h4 {
  margin: 0;
  font-size: larger;
  user-select: none;
}

#container {
  height: calc(100vh - 2rem);
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: stretch;
  position: relative;
}

#controls-panel {
  padding: 10px;
  -webkit-box-shadow: 0px 15px 15px -2px rgba(0,0,0,0.45); 
  box-shadow: 0px 15px 15px -2px rgba(0,0,0,0.45);
  z-index: 450;
  overflow: auto;
}

#controls-panel section:first-child > div > span:not(:first-child) {
  display: block;
  margin-left: 20px;
  font-variant-numeric: tabular-nums;
}

#controls-panel section:not(:first-child) {
  margin-top: 15px;
}

#controls-panel h5 {
  font-size: larger;
  font-weight: normal;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  user-select: none;
}

#notes-count-displayed,
#latest-database-update-date {
  /*color: rgb(0, 81, 255);*/
  font-weight: 400;
}

#notes-stats ul {
  margin-top: 0;
  margin-bottom: .5em;
}

#controls-panel button,
#controls-panel select {
  border: none;
  padding: 6px;
  font-size: normal;
  margin: 5px;
  cursor: pointer;
}

#controls-panel input[type=range] {
  vertical-align: middle;
}

#controls-panel a {
  display: block;
  color: rgb(0, 81, 255);
}

#controls-panel > :last-child {
  margin-bottom: 25%;
}

.material-symbols-outlined {
  font-size: 1em;
  vertical-align: middle;
}

#map-container {
  flex-grow: 1;
  position: relative;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#loading-icon {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1000;
}

#errors-list {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 450;
  padding: 10px 30px 10px 30px;
}

#errors-list > li {
  list-style-type: none;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(255, 133, 133);
  transition: all .3s ease-in-out;
  margin: 4px;
}

#errors-list .error-message {
  color: rgb(38, 38, 38);
  font-weight: normal;
}

#errors-list > li > button {
  border: none;
  background-color: white;
  border-radius: 2px;
  color: rgb(255, 133, 133);
  cursor: pointer;
}

/* https://loading.io/css/ */
/* slightly modified */
.lds-dual-ring {
  display: inline-block;
  width: 96px;
  height: 96px;
}
.lds-dual-ring:not(.hidden):after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid rgb(100, 100, 100);
  border-color: rgb(100, 100, 100) transparent rgb(100, 100, 100) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* !https://loading.io/css/ */

#toggle-map-controls-btn {
  display: none;
}

ul.cadre {
  list-style: none;
  vertical-align: middle;
  padding: .2rem;
  border: 1px solid lightgray ;
  border-radius: 3px;
  margin: .2rem;
  margin-left: 0;
}
ul.cadre li {
  display: inline;
}

@media all and (max-width: 900px) {
  #controls-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    display: none;
  }

  #toggle-map-controls-btn {
    width: 100%;
    border: none;
    background-color: rgb(228, 228, 228);
    height: 7%;
    display: initial;
  }

  #container {
    height: calc(100vh - 2rem - 7%);
  }

  #controls-panel.visible {
    display: initial;
  }

  #map-container.hidden {
    display: none;
  }
}