body {
  margin: 5%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

.hidden {
  display: none;
}

header {
  margin-bottom: 2rem;
}

#current-url-label {
  color: rgb(0, 81, 255);
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

#map-canvas {
  max-width: 50%;
  max-height: 50vh;
}

/* https://loading.io/css/ */
/* slightly modified */
.lds-dual-ring {
  width: 96px;
  height: 96px;
}
.lds-dual-ring:not(.hidden):after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 10px solid rgb(100, 100, 100);
  border-color: rgb(100, 100, 100) transparent rgb(100, 100, 100) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* !https://loading.io/css/ */